[submodule "src/third_party/boost"]
	path = src/third_party/boost
	url = https://github.com/boostorg/boost.git

[submodule "src/third_party/cereal"]
	path = src/third_party/cereal
	url = https://github.com/USCiLab/cereal.git
